html {
  padding: 10px;
}
body {
  font-family: "Apercu", "Barlow", Arial, Helvetica, sans-serif;
}

.flex-horz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex {
  flex: 1;
}

progress {
  height: var(--progress-height);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* border: solid 1px var(--color-black); */
  border: none;
  background-color: var(--progress-bg);
  border-radius: var(--progress-br);
}
progress::-webkit-progress-bar {
  background-color: var(--progress-bg);
  border-radius: var(--progress-br);
  width: 100%;
}

progress.hidden::-webkit-progress-bar {
  width: 0;
}

progress::-webkit-progress-value {
  background-color: var(--progress-fg);
  border-radius: var(--progress-br);
  transition: width 0.75s ease-in-out;
}

progress::-moz-progress-bar {
  background-color: var(--progress-fg);
  border-radius: var(--progress-br);
}
